html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-y: hidden;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.playlist-container {
    flex: 1;
    height: calc(100vh - 215px);
    overflow-y: auto;
    margin-top: 65px;
    margin-bottom: 65px;
    padding-top: 50px;

    @media all and (max-width: 800px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media all and (min-width: 801px) {
        padding-left: 75px;
        padding-right: 75px;
    }

    .playlist-content {

    }
}

.player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .player-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-toolbar {
    }
}