body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 100%;
    margin-bottom: 75px;
}

.testClass {
    background-color: black;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}  

.playlist-container {
    flex: 1;
    margin-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
    min-width: 650px;

    .playlist-header {

    }

    .playlist-content {

    }
}

.player-container {
    flex: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: #eee;

    .player-toolbar {
    }
}